* {
  box-sizing: border-box;
  // transition: 0.3s;
  color: $darkGray;
}
body {
  margin: 0px;
  font-family: "Chivo", sans-serif;
  font-weight: 400;
}
h1 {
  font-family: "Roboto", serif;
  font-size: 42px;
}
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -3px;
  font-family: "Roboto", serif;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #232525;
}
h2 {
  font-size: 32px;
  line-height: 36px;
}
h3 {
  font-size: 28px;
  line-height: 32px;
}
h4 {
  font-size: 24px;
  line-height: 28px;
}
h5 {
  font-size: 22px;
  line-height: 26px;
}
h6 {
  font-size: 20px;
  line-height: 24px;
}
.popupbox-wrapper {
  width: 70%;
  max-width: 650px !important;
}
.the-button {
  color: rgb(255, 0, 108);
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  letter-spacing: 0.5px;
  padding: 15px 20px;
  white-space: normal;
  width: auto;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  border: 4px solid rgb(255, 0, 108);
  text-transform: uppercase;
  &:hover {
    background-color: rgb(255, 0, 108);
    color: white !important;
  }
}
.ReactModalPortal {
  position: relative;
  z-index: 9;
}
.cart-checkout {
  color: rgb(255, 0, 108);
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  letter-spacing: 0.5px;
  padding: 15px 20px;
  white-space: normal;
  width: auto;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  border: 4px solid rgb(255, 0, 108);
  text-transform: uppercase;
  &:hover {
    background-color: rgb(255, 0, 108);
    color: white !important;
  }
}
#slice-id-contact-title {
  section {
    padding: 0px 0px;
  }
}
