#slice-id-home-hero {
  .youtube-bg {
    // background-color: rgba(0, 145, 205, 0.6);
    // background-image: -moz-linear-gradient(left, rgba(0, 145, 205, 0.6) 0%, rgba(160, 206, 78, 0) 100%);
    // background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 145, 205, 0)), color-stop(100%, rgba(160, 206, 78, 0.6)));
    // background-image: -webkit-linear-gradient(left, rgba(0, 145, 205, 0.6) 0%, rgba(160, 206, 78, 0) 100%);
    // background-image: -o-linear-gradient(left, rgba(0, 145, 205, 0.6) 0%, rgba(160, 206, 78, 0) 100%);
    // background: -ms-linear-gradient(left, rgba(0, 145, 205, 0.6) 0%, rgba(160, 206, 78, 0) 100%);
    // background: linear-gradient(to right, rgba(255, 255, 255, 0.6) 50%, rgba(160, 206, 78, 0) 80%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to',GradientType=1);
    // background-color: rgba(255, 255, 255, 0.6);
    // background: rgb(255,255,255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.8) 45%,
      rgba(255, 255, 255, 0) 65%
    );
    @include mobile() {
      video {
        object-position: 70%;
      }
      .video-content {
        text-align: left;
        max-width: 260px;
      }
      h2 {
        text-align: left;
        font-size: 30px;
        line-height: 32px;
        color: $darkGray;
      }
      p {
        font-size: 20px;
      }
    }
  }
  section {
    min-height: 480px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    &:before {
      opacity: 0.6;
    }
    h2 {
      color: $darkGray;
      font-weight: 400;
      font-style: normal;
      font-size: 45px;
      line-height: 50px;
      margin: 0px;
    }
    p {
      font-size: 28px;
      margin: 5px 0px;
      color: $darkGray;
    }
    a {
      color: rgb(255, 0, 108);
      cursor: pointer;
      font-family: Poppins, sans-serif;
      font-size: 24px;
      letter-spacing: 0.5px;
      padding: 21px 34px;
      white-space: normal;
      width: auto;
      display: inline-block;
      margin: 20px 0px 0px 0px;
      text-decoration: none;
      font-weight: bold;
      border-radius: 10px;
      border: 5px solid rgb(255, 0, 108);
      text-transform: uppercase;
      &:hover {
        background-color: rgb(255, 0, 108);
        color: white;
      }
    }
  }
}
#slice-id-hero-safe {
  @include mobile() {
    margin-top: 40px;
  }
  .left-right-container {
    min-height: 450px;
    text-align: right;
    @include mobile() {
      text-align: left;
      flex-direction: column-reverse;
      section {
        padding: 0px;
      }
    }
    h3 {
      font-size: 32px;
      border-bottom: 5px solid $blue;
      display: inline-block;
      padding-bottom: 10px;
    }
    p {
      font-size: 22px;
      line-height: 30px;
    }
  }
}
#slice-id-home-shipping {
  @include mobile() {
    margin-top: 40px;
  }
  .left-right-container {
    min-height: 450px;
    @include mobile() {
      text-align: left;
      flex-direction: column;
      section {
        padding: 0px;
      }
    }
    h3 {
      font-size: 32px;
      border-bottom: 5px solid $blue;
      display: inline-block;
      padding-bottom: 10px;
    }
    p {
      font-size: 24px;
      line-height: 32px;
    }
  }
}
#slice-id-home-cotton {
  @include mobile() {
    margin-top: 40px;
  }
  .left-right-container {
    min-height: 450px;
    text-align: right;
    @include mobile() {
      text-align: left;
      flex-direction: column-reverse;
      section {
        padding: 0px;
      }
    }
  }
  h3 {
    font-size: 32px;
    border-bottom: 5px solid $blue;
    display: inline-block;
    padding-bottom: 10px;
  }
  p {
    font-size: 22px;
    line-height: 30px;
  }
}
#slice-id-home-business {
  @include mobile() {
    margin-top: 40px;
  }
  .left-right-container {
    min-height: 450px;
    text-align: left;
    @include mobile() {
      text-align: left;
      flex-direction: column;
      section {
        padding: 0px;
      }
    }
  }
  h3 {
    font-size: 32px;
    border-bottom: 5px solid $blue;
    display: inline-block;
    padding-bottom: 10px;
  }
  p {
    font-size: 22px;
    line-height: 30px;
  }
}
#slice-id-home-info {
  .column {
    justify-content: center;
    .column-item {
      text-align: center;
      h3 {
        font-size: 24px;
      }
      img {
        width: auto;
        height: 75px;
        max-width: 100px;
      }
    }
  }
}

#slice-id-home-cta {
  section {
    display: flex;
    justify-content: center;
    border-bottom: 5px solid $blue;
    border-top: 5px solid $blue;
    align-items: center;
    padding: 10px 0px;
    margin: 20px 0px;
    text-align: center;
    a {
      color: rgb(255, 0, 108);
      cursor: pointer;
      font-family: Poppins, sans-serif;
      font-size: 24px;
      letter-spacing: 0.5px;
      padding: 21px 34px;
      white-space: normal;
      width: auto;
      display: inline-block;
      margin: 20px 0px 0px 0px;
      text-decoration: none;
      font-weight: bold;
      border-radius: 10px;
      border: 5px solid rgb(255, 0, 108);
      text-transform: uppercase;
      &:hover {
        background-color: rgb(255, 0, 108);
        color: white;
      }
    }
  }
}

#slice-id-home-video-example {
  @include mobile() {
    margin-top: 20px;
  }
  section {
    padding: 0px;
    > div {
      width: 100%;
      max-width: 100%;
      padding: 20px;
    }
  }
  .left-right-container {
    min-height: 570px;
    text-align: left;
  }
  h3 {
    font-size: 32px;
    border-bottom: 5px solid $blue;
    display: inline-block;
    padding-bottom: 10px;
  }
  p {
    font-size: 22px;
    line-height: 30px;
  }
}
